<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Backend/etc/menu.xsd">
    <menu>
        <add 
            id="QuatroOlhos_RdStation::q_all" 
            title="4Olhos" 
            module="QuatroOlhos_RdStation" 
            sortOrder="20" 
            resource="QuatroOlhos_RdStation::q_all" />
        <add 
            id="QuatroOlhos_RdStation::rdstation" 
            title="RD Station" 
            module="QuatroOlhos_RdStation" 
            sortOrder="10" 
            parent="QuatroOlhos_RdStation::q_all" 
            resource="QuatroOlhos_RdStation::rdstation"/>
        <add 
            id="QuatroOlhos_RdStation::config" 
            title="Configurar" 
            module="QuatroOlhos_RdStation" 
            sortOrder="1" 
            parent="QuatroOlhos_RdStation::rdstation" 
            action="adminhtml/system_config/edit/section/QuatroOlhos_rdstation" 
            resource="QuatroOlhos_RdStation::config" />
    </menu>
</config>